.main-footer {
  font-size: 13px;
  color: #808080;
}
#top {
  width: 30px;
  height: 50px;
  background: rgba(85,85,85,0.3) none repeat scroll 0% 0%;
  position: fixed;
  bottom: 1%;
  right: 3%;
  text-align: center;
  cursor: pointer;
}
#top a {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
}
#top a:hover {
  background-color: #258fb8;
}
